<a href="#" class="shortcut__link" title="Show keyboard shortcuts" (click)="toggleKeyboardShortcut($event)">Keyboard shortcuts</a>
<ul *ngIf="isShowing" class="shortcut__list">
    <li class="shortcut__item">
        <div class="key__wrapper">
            <span class="key">left</span>
        </div>
        <div class="key__desc">Move left</div>
    </li>
    <li class="shortcut__item">
        <div class="key__wrapper">
            <span class="key">right</span>
        </div>
        <div class="key__desc">Move right</div>
    </li>
    <li class="shortcut__item">
        <div class="key__wrapper">
            <span class="key">space</span>
        </div>
        <div class="key__desc">Show/hide translation</div>
    </li>
    <li class="shortcut__item">
        <div class="key__wrapper">
            <span class="key">i</span>
        </div>
        <div class="key__desc">Ignore</div>
    </li>
    <li class="shortcut__item">
        <div class="key__wrapper">
            <span class="key">h</span>
        </div>
        <div class="key__desc">Show/hide keyboard shortcuts</div>
    </li>
</ul>